<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso</title>
</head>

<body>
    <h1>Login de Usuario</h1>
    <br>
    <form action="/login" method="post" autocomplete="off">
        <div >
            <label for="nombre">Ingrese su nombre</label>
            <input id="nombre" type="text" name="nombre" required>
            <label for="password">Ingrese su password</label>
            <input id="password" type="password" name="password" required>
        </div>
        <button>Enviar</button>
    </form>
    <button onclick="location.href='/signup'">
        Registrarse
    </button>
</body>

</html>