<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso</title>
</head>

<body>
    <h1>Signup de Usuario</h1>
    <br>
    <form action="/signup" method="post" autocomplete="off">
        <div >
            <label for="username">Ingrese su username</label>
            <input id="username" type="text" name="username" onchange="habilitarBtn()" required>
            <label for="email">Ingrese su email</label>
            <input id="email" type="email" name="email" onchange="habilitarBtn()" required>
            <label for="password">Ingrese su password</label>
            <input id="password" type="password" name="password" onchange="habilitarBtn()" required>
            <label for="rePassword">Repita su password</label>
            <input id="rePassword" type="password" name="rePassword" onkeyup="habilitarBtn()" required>
        </div>
        <button id="btnFormSignup" disabled>Enviar</button>
    </form>
    <button onclick="location.href='/login'">
        Loguearse
    </button>
    <!-- Inicio del script -->
    <script>
        const btn = document.getElementById('btnFormSignup');
        
        function habilitarBtn() {
            const name = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const rePassword = document.getElementById('rePassword').value;
            let passChecked = false;
            if ( password.length > 1 && password === rePassword ) passChecked = true
            else passChecked = false;
    
            if ( name && email && passChecked )
            {
                btn.disabled = false
            }
            else
            {
                btn.disabled = true
            }
        }
    
    </script>
</body>
</html>