<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <div>
        <% if (nombre){%>
        <h1>
            Bienvenide, <%= nombre %>
                <button onclick="location.href='/logout'">
                    Desloguear
                </button>
        </h1>
        <%} else {%>
        <h1> Usted no se ha logueado </h1>

            <button onclick="location.href='/login'">
                loguearse
            </button>
        <%}%>
        
    </div>


    <script src="js/main.js"></script>

</body>

</html>