<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de producto</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />

</head>
<body>
    <div >
        <h1>Login de Usuario</h1>
        <br>
        <form action="/login" method="post" autocomplete="off">
            <div >
                <label for="username">Ingrese su nombre</label>
                <input id="username" type="text" name="username" required>
                <label for="password">Ingrese su password</label>
                <input id="password" type="password" name="password" required>
            </div>
            <button>Enviar</button>
        </form>
        <button onclick="location.href='/signup'">
            Registrarse
        </button>
    </div>
</body>
</html>